body{
    background: #000;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.headerSty{
    color: #3998C8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic; 
    font-weight: 1000; 
    font-size: 50px;

}